.tasklist-component {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.tasklist-link-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.tasklist-link {
  color: #00bfff;
  text-decoration: underline;
  cursor:pointer;
}
.tasklist-line {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}
.tasklist-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.static-row,
.dynamic-row {
  display: flex;
  justify-content: space-between;
}
.dynamic-row {
  margin-top: 20px;
  background-color: #d3d3d3;
  padding: 10px;
}
.dynamic-column-number,
.dynamic-task-name,
.dynamic-status,
.dynamic-action,
.static-column-number,
.static-task-name,
.static-status,
.static-action {
  width: 25%;
}
.done-btn {
  margin-left: 5px;
}
